<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Population_X.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Population_X.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Population_X.Properties.Settings>
            <setting name="AntiSpywareEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BehaviorMonitorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IoavProtectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NISEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTimeProtectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Population_X.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Population_X.Properties.Settings>
            <setting name="AntiVirusEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnonymityRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemEncryptionRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkIntrusionDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkEncryptionRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkHoppingRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkVPNRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MACSpoofingRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdentitySpoofingRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirewallRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentFakeLocation" serializeAs="String">
                <value>...</value>
            </setting>
        </Population_X.Properties.Settings>
    </userSettings>
</configuration>